---
layout: post
title: {{ article_title }}
author: {{ article_author }}
categories: [{% for category in article_categories %}{{ category }},{% endfor %}]
image: {{ article_image }}
tags: [{% for tag in article_tags %}{{ tag }},{% endfor %}]
ext_url: {{ article_external_url }}
show-avatar: true
featured: {{ article_featured }}
hidden: false
---

{{ article_summary }}

Read [{{ article_title }}]({{ article_external_url }}).